:root {
    --font-sans-serif: VegurLight, sans-serif;
    --teal: #103947;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    align-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    font-weight: 400;
    font-style: regular;
    color: var(--teal);
    font-size: 1rem;
    line-height: 1.7;
    background-color: #fffcf3; 
    display: block;

}


.component {
    overflow-x: auto;
    width: 1250px;
}

.component__code {

}


.site-nav {
    z-index: 0;
    font-family: VegurRegular;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #103947;
    max-width: 240px;
    margin: 0, 20px;
    float: left;
}



.site-nav-address {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
}

.site-nav-menu {
    box-sizing: border-box;
    color: rgb(170, 136, 5);
    display: block;
    font-family: VegurRegular;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 23.8px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    align-content: center;
}

li {
    margin-top: 10px;
    display: list-item;
}

button {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: VegurRegular;
    color: #fff;
    background-color: #aa8805;
    border-color: #aa8805;
    margin-top: 30px;
}


.fa {
    color: rgb(170, 136, 5);
    padding: 20px;
    align-content: center;
    font-size: 70px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 18px;
  }

.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    float: left;
}






