<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components | Restaurant Alma</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/vegur" type="text/css"/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class=component>
    <h3 class="component__name">Body</h3>
    <img
    srcset="img/body.png 2x"
    src="img/body.png" alt="body copy">

    <div class="component__code">
        <p>We strive to create genuine hospitality and diverse american cooking in beautiful, 
        casual environments for everyday visits and celebrations alike.</p>
        <p>Alma has received regional and national acclaim, earning a James Beard Award for Best 
        Chef Midwest, and 6 national semifinal nominations in Outstanding Chef, Outstanding Service, 
        and Outstanding Restaurant categories. Local accolades include a 4-star rating from the 
        StarTribune and City Pages Best Cafe & Best Restaurant awards.</p>
    </div>
    </article>

    <article class=component>
    <h3 class="component__name">Headings (h1, h2, h3, etc.)</h3>
    <img
    srcset="img/h1.png 2x"
    src="img/h1.png" alt="h1">
    

    <img
    srcset="img/h2.png 2x"
    src="img/h2.png" alt="h2">
    

    <img
    srcset="img/h3.png 2x"
    src="img/h3.png" alt="h3">
    
    <div class="component__code">
        <h1>Welcome to Alma</h1>
        <h2>Alex & Margo Roberts</h2>
        <h4>Proprietors</h4>
    </div>
    </article>

    <article class=component>
        <h3 class="component_name">Atoms</h3>
        <img srcset="img/reserve-button.png 2x"
        src="img/reserve-button.png" alt="reserve button">
        <button type="button">Reserve</button>
        
        <img srcset="img/email-updates.png 2x"
        src="img/email-updates.png" alt="email update">
        <button type="button" class="button-blue">Sign Up For Email Updates</button>

        <img srcset="img/send.png 2x"
        src="img/send.png" alt="send">
        <button type="button" class="button-blue">Send</button>
    </article>

    <article class=component>
        <h3 class="component__name">SideBar Navigation</h3>
        <img
        srcset="img/sidebar-nav.png 2x"
        src="img/sidebar-nav.png" alt="sidebar">
    
        <div class="component__code">
            <div class="site-logo">
                <img
                srcset="img/alma-logo.png 2x"
                src="img/alma-logo.png" alt="alma logo">
            </div>
            <nav class="site-nav">
                <ul class="site-nav-address">
                    <li>528 University Ave SE, Minneapolis, MN 55414</li>
                </ul>
                <ul class="site-nav-menu">
                    <li>Hours & Location</li>
                    <li>About</li>
                    <li>Store</li>
                    <li>Cafe</li>
                    <li>Hotel</li>
                    <li>Restaurant</li>
                    <li>Private Dining</li>
                    <li>Events</li>
                    <li>Jobs</li>
                    <li>Contact</li>
                    <li>Gift Cards</li>
                </ul>
                <button type="button">Reserve</button>
                <ul class="social-accounts">
                        <li>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-tripadvisor"></a>
                        </li>
                    </ul>
            </nav>
        </div>
        </article>
    
</body>

</html>