<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components | Restaurant Alma</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/vegur" type="text/css"/>
    <link rel="stylesheet" href="../css/main.css">
    
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class=component>
    <h3 class="component__name">Body</h3>
    <img
    srcset="img/welcome.png 2x"
    src="img/welcome.png" alt="body copy">

    <div class="component__code">
        <p>We strive to create genuine hospitality and diverse american cooking in beautiful, 
        casual environments for everyday visits and celebrations alike. 
        Alma has received regional and national acclaim, earning a James Beard Award for Best 
        Chef Midwest, and 6 national semifinal nominations in Outstanding Chef, Outstanding Service, 
        and Outstanding Restaurant categories. Local accolades include a 4-star rating from the 
        StarTribune and City Pages Best Cafe & Best Restaurant awards.</p>
    </div>
    </article>

    <article class=component>
    <h3 class="component__name">Headings (h1, h2, h3, etc.)</h3>
    <img
    srcset="img/h1.png 2x"
    src="img/h1.png" alt="h1">
    

    <img
    srcset="img/h2.png 2x"
    src="img/h2.png" alt="h2">
    

    <img
    srcset="img/h3.png 2x"
    src="img/h3.png" alt="h3">
    
    <div class="component__code">
        <h1>Welcome to Alma</h1>
        <h2>Alex & Margo Roberts</h2>
        <h4>Proprietors</h4>
    </div>
    </article>
</body>

</html>